<html>
        <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <title>Your Name</title>
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
                <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            </head>
            <body>
                <script href="js/jquery-3.3.1.min.js"></script>
                <script href="js/bootstrap.min.js"></script>
                <nav class="navbar navbar-inverse">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="home">Your Name</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="about">About</a></li>
                                <li><a href="skills">Skills</a></li>
                                <li><a href="food">Food</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul>
                        </div>
                </nav>
                {% block body %}{% endblock %}
    </body>

</html>