<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get the bootstrap tag at getbootstrap.com -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Forum App</title>
    <style>
        .login-form-container {
            width: 300px;
            margin: auto;
        }
        .registration-form-container {
            width: 400px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="auth-box text-center">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>